In [ ]:
## We need city csv; we need places shp file for the FIPS

In [69]:
import pandas as pd
import geopandas as gpd
from io import BytesIO
from urllib.request import urlopen
from zipfile import ZipFile

In [70]:
# load city info used in Heat Pump Calculator (HPC)
city_url = 'https://github.com/leungkp/akwlib-export/blob/main/data/v01/city.csv' + '?raw=true'
city_HPC = pd.read_csv(city_url)

In [71]:
# download and unzip blocks manually because of its big size
zipurl = 'https://live.laborstats.alaska.gov/cen/maps/gis/akplaces_2010.zip'
with urlopen(zipurl) as zipresp:
    with ZipFile(BytesIO(zipresp.read())) as zfile:
        zfile.extractall('/tmp/Places2010')

places = gpd.read_file('/tmp/Places2010/')

In [ ]:
# match city with places (FIPS)
# city_HPC['name2match'] = city_HPC['census_city'].str.lower()
# places['name2match'] = places['NAME'].str.lower()

In [ ]:
# check 
# city_HPC['name2match'].isin(places['name2match']).mean()

In [ ]:
# places2match = places[['name2match', 'FIPS']]
# merged_data = pd.merge(city_HPC, places2match, on='name2match', how='left')
# merged_data.head()

In [ ]:
# merged_data['FIPS'] = pd.to_numeric(merged_data['FIPS'])

In [33]:
# merged_data.columns.tolist()

['ID',
 'Name',
 'FIPS',
 'TMYid',
 'Latitude',
 'Longitude',
 'ERHRegionID',
 'WAPRegionID',
 'ImprovementCostLevel',
 'FuelRefer',
 'FuelCityID',
 'Oil1Price',
 'Oil2Price',
 'PropanePrice',
 'BirchPrice',
 'SprucePrice',
 'CoalPrice',
 'SteamPrice',
 'HotWaterPrice',
 'MunicipalSalesTax',
 'BoroughSalesTax',
 'TMYname',
 'ElecUtilities',
 'GasPrice',
 'aris_city',
 'census_city',
 'census_area',
 'ancsa_region',
 'railbelt',
 'hub',
 'avg_elec_usage',
 'name2match']

In [34]:
cols = ['ID',
 'Name',
 'FIPS',
 'TMYid',
 'Latitude',
 'Longitude',
 'ERHRegionID',
 'WAPRegionID',
 'ImprovementCostLevel',
 'FuelRefer',
 'FuelCityID',
 'Oil1Price',
 'Oil2Price',
 'PropanePrice',
 'BirchPrice',
 'SprucePrice',
 'CoalPrice',
 'SteamPrice',
 'HotWaterPrice',
 'MunicipalSalesTax',
 'BoroughSalesTax',
 'TMYname',
 'ElecUtilities',
 'GasPrice',
 'aris_city',
 'census_city',
 'census_area',
 'ancsa_region',
 'railbelt',
 'hub',
 'avg_elec_usage',
 'name2match'
 ]

In [ ]:
# # Rearrange the columns
# merged_data = merged_data[cols]

In [37]:
# start with here because the data is already merged with FIPS
merged_data = city_HPC
merged_data.head()

,ID,Name,FIPS,TMYid,Latitude,Longitude,ERHRegionID,WAPRegionID,ImprovementCostLevel,FuelRefer,...,ElecUtilities,GasPrice,aris_city,census_city,census_area,ancsa_region,railbelt,hub,avg_elec_usage,name2match
0,1,Anchorage,203000,702730,61.151960,-149.864100,2,2,1,0,...,"[('Chugach Electric South- Residential', 1), (...",0.988132,Anchorage,Anchorage municipality,Anchorage municipality,Cook Inlet Regional (CIRI),Railbelt,True,"[674.3176110825, 616.54369648225, 568.80201815...",anchorage municipality
1,2,Adak,200065,704540,51.848896,-176.635422,2,3,5,0,...,"[('Adak -TDX Residential', 677), ('Adak - TDX ...",NaN,Adak,Adak city,Aleutians West Census Area,Aleut,Affordable Energy Strategy Area,False,"[471.936998147, 423.45531781, 460.81549341, 42...",adak city
2,3,Akutan,201090,704890,54.134945,-165.772446,2,3,5,0,...,"[('Akutan, City of - Residential', 9), ('Akuta...",NaN,Akutan,Akutan city,Aleutians East Borough,Aleut,Affordable Energy Strategy Area,False,"[500.99156233, 439.984315846, 456.510655517, 4...",akutan city
3,4,Allakaket,201860,701740,66.561386,-152.649445,4,4,5,0,...,"[('Allakaket - APT - Residential', 249), ('All...",NaN,Allakaket,Allakaket city,Yukon-Koyukuk Census Area,Doyon,Affordable Energy Strategy Area,False,"[338.509000744, 291.889556239, 276.804469551, ...",allakaket city
4,5,Angoon,203440,703710,57.496647,-134.578900,1,1,3,0,...,[('Inside Passage Electric Coop - Residential'...,NaN,Angoon,Angoon city,Hoonah-Angoon Census Area,Sealaska Corporation,Affordable Energy Strategy Area,False,"[277.080558981, 257.757954545, 237.15561277, 2...",angoon city

In [87]:
# check Alan's pkl file to see if there is index column
url = 'https://github.com/alanmitchell/akwlib-export/blob/main/data/v01/city.pkl' + '?raw=True'
pd.read_pickle(url, compression = "bz2")

,Name,Latitude,Longitude,ERHRegionID,WAPRegionID,ImprovementCostLevel,FuelRefer,FuelCityID,Oil1Price,Oil2Price,...,TMYname,ElecUtilities,GasPrice,aris_city,census_city,census_area,ancsa_region,railbelt,hub,avg_elec_usage
ID,,,,,,,,,,,,,,,,,,,,,
1,Anchorage,61.151960,-149.864100,2,2,1,0,NaN,4.45,NaN,...,"ANCHORAGE INTL AP, AK","[(Chugach Electric South- Residential, 1), (Ch...",0.988132,Anchorage,Anchorage municipality,Anchorage municipality,Cook Inlet Regional (CIRI),Railbelt,True,"[674.3176110825, 616.54369648225, 568.80201815..."
2,Adak,51.848896,-176.635422,2,3,5,0,NaN,7.30,6.64,...,"ADAK NAS, AK","[(Adak -TDX Residential, 677), (Adak - TDX Com...",NaN,Adak,Adak city,Aleutians West Census Area,Aleut,Affordable Energy Strategy Area,False,"[471.936998147, 423.45531781, 460.81549341, 42..."
3,Akutan,54.134945,-165.772446,2,3,5,0,NaN,4.93,NaN,...,"DUTCH HARBOR, AK","[(Akutan, City of - Residential, 9), (Akutan, ...",NaN,Akutan,Akutan city,Aleutians East Borough,Aleut,Affordable Energy Strategy Area,False,"[500.99156233, 439.984315846, 456.510655517, 4..."
4,Allakaket,66.561386,-152.649445,4,4,5,0,NaN,7.00,8.00,...,"BETTLES FIELD, AK","[(Allakaket - APT - Residential, 249), (Allaka...",NaN,Allakaket,Allakaket city,Yukon-Koyukuk Census Area,Doyon,Affordable Energy Strategy Area,False,"[338.509000744, 291.889556239, 276.804469551, ..."
5,Angoon,57.496647,-134.578900,1,1,3,0,NaN,6.20,NaN,...,"SITKA JAPONSKI AP, AK","[(Inside Passage Electric Coop - Residential, ...",NaN,Angoon,Angoon city,Hoonah-Angoon Census Area,Sealaska Corporation,Affordable Energy Strategy Area,False,"[277.080558981, 257.757954545, 237.15561277, 2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Wainwright Com,70.644905,-160.017776,6,5,5,0,0.0,7.30,NaN,...,"BARROW W POST-W ROGERS ARPT [NSA - ARM], AK","[(North Slope Borough Utilities - Residential,...",NaN,Wainwright,Wainwright city,North Slope Borough,Arctic Slope Regional Corporation,Affordable Energy Strategy Area,False,"[814.128057766, 732.408651702, 677.820535582, ..."
322,Faribanks - Chena Ridge,64.803690,-148.009300,4,4,2,1,293.0,4.59,NaN,...,"FAIRBANKS INTL ARPT, AK","[(Golden Valley Electric - Residential, 3), (G...",2.081000,Fairbanks - Chena Ridge,Fairbanks city,Fairbanks North Star Borough,Doyon,Railbelt,True,"[674.3176110825, 616.54369648225, 568.80201815..."
323,Mertarvilk,60.811000,-164.499100,0,0,3,0,98.0,7.50,NaN,...,"MEKORYUK, AK","[(Self Generation, 131)]",NaN,Mertarvik,Newtok CDP,Bethel Census Area,Calista,Affordable Energy Strategy Area,False,"[416.867554436, 363.900387399, 367.474233607, ..."
324,Point Lay Commercial,69.745600,-163.012131,6,5,5,0,0.0,7.25,NaN,...,"POINT HOPE (AWOS), AK","[(North Slope Borough Utilities - Residential,...",NaN,Point Lay,Point Lay CDP,North Slope Borough,Arctic Slope Regional Corporation,Affordable Energy Strategy Area,False,"[814.128057766, 732.408651702, 677.820535582, ..."
325,Chignik Lagoon,56.251144,-158.748688,2,2,3,0,NaN,5.74,5.74,...,"PORT HEIDEN, AK","[(Chignik Lagoon - Residential, 694), (Chignik...",NaN,Chignik,Chignik city,Lake and Peninsula Borough,Bristol Bay Native Corporation,Affordable Energy Strategy Area,False,"[674.3176110825, 616.54369648225, 568.80201815..."

In [90]:
merged_data = merged_data.set_index('ID')

In [91]:
merged_data.to_csv('data/v01/city.csv', index=False)
merged_data.to_pickle('data/v01/city.pkl', compression = "bz2")

### Create a new meta file

In [72]:
# write a new meta data file
merged_data.shape[0] # 277 cities

277

In [73]:
ERA5_meta = merged_data[['name2match', 'FIPS', 'TMYid']]
ERA5_meta = ERA5_meta.rename(columns={'TMYid':'tmy_id', 'name2match':'city'})
ERA5_meta.head()

                     city    FIPS  tmy_id
0  anchorage municipality  203000  702730
1               adak city  200065  704540
2             akutan city  201090  704890
3          allakaket city  201860  701740
4             angoon city  203440  703710

In [74]:
tym3_meta = pd.read_csv("Data/v01/tmy3/tmy3_meta.csv")
tym3_meta.head()

,tmy_id,city,state,utc_offset,latitude,longitude,elevation,db_temp_avg,rh_avg,wind_spd_avg,heating_design_temp
0,700197,SELAWIK,AK,-9.0,66.600,-160.000,26.24672,24.855438,78.158676,9.655307,-36.6
1,700260,BARROW W POST-W ROGERS ARPT [NSA - ARM],AK,-9.0,71.320,-156.620,32.80840,10.729712,84.193950,12.178734,-34.3
2,700637,DEADHORSE,AK,-9.0,70.200,-148.483,75.45932,14.890158,81.881279,11.842146,-41.3
3,701043,POINT HOPE (AWOS),AK,-9.0,68.350,-166.800,13.12336,24.074966,77.388927,15.689121,-24.1
4,701195,SHISHMAREF (AWOS),AK,-9.0,66.267,-166.050,6.56168,25.309137,78.231279,13.223661,-26.2

In [75]:
tym3_meta2 = tym3_meta[['tmy_id', 'heating_design_temp']]

In [76]:
ERA5_meta2 = ERA5_meta.merge(tym3_meta2, on='tmy_id',how='left')

In [78]:
ERA5_meta2 = ERA5_meta2.set_index('FIPS')

In [79]:
ERA5_meta2.head()

                          city  tmy_id  heating_design_temp
FIPS
203000  anchorage municipality  702730                 -4.5
200065               adak city  704540                 22.6
201090             akutan city  704890                 21.2
201860          allakaket city  701740                -44.9
203440             angoon city  703710                 20.9

In [80]:
ERA5_meta2.to_csv('data/v01/ERA5/ERA5_meta.csv', index=False)
ERA5_meta2.to_pickle('data/v01/ERA5/ERA5_meta.pkl', compression = "bz2")